.main {
  width: 100vw;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  z-index: 1;

  .hero-section {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-text {
      margin: 0;
      padding: 0;
      z-index: 4;
    }

    .hero-title {
      text-align: center;
      font-size: 2.35rem;
      background: -webkit-linear-gradient(
        var(--light-special),
        var(--normal-special)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .hero-sub-title {
      margin-top: 1.5rem;
      color: var(--light-special);
      // background: -webkit-linear-gradient(
      //   var(--dark-special),
      //   var(--light-special)
      // );
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }

  .hero-links {
    margin-top: 1rem;
    display: flex;

    .hero-btn {
      cursor: pointer;
      background-color: #323232;
      color: var(--light-special);
      color: #fefefe;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 20px;
      font-size: 1rem;
      outline: none;
      transition: all 0.2s ease;
    }

    .hero-btn:hover {
      // background-color: var(--normal-special);
      color: var(--light-special);
    }

    .hero-btn:focus {
      outline: none;
    }

    .main-icons {
      a {
        color: #fefefe;
      }

      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 1.75rem;
        padding-left: 1rem;
        transition: 0.2s ease-in;
      }

      .fa-github:hover {
        color: #c9510c;
      }

      .fa-linkedin:hover {
        color: #00a0dc;
      }

      .fa-address-card:hover {
        color: #59c8f0;
      }
    }
  }

  .gif-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .react-gif {
    position: absolute;
    top: 75px;
    right: 50px;
  }

  .github-gif {
    position: absolute;
    left: 5rem;
    bottom: 0px;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1420px) {
  .react-gif {
    display: none;
  }
}

@media (max-width: 985px) {
  .hero-title {
    font-size: 1.75rem;
  }

  .hero-sub-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 875px) {
  .main {
    flex-direction: column;
    padding-bottom: 5rem;
  }

  .hero-section {
    margin-top: 7.5rem;
  }

  .gif-wrapper {
    display: none;
    align-items: flex-start;
  }

  .react-gif {
    display: none;
  }
}

@media (max-width: 700px) {
  .main {
    padding-bottom: 130px;
  }

  .hero-title {
    font-size: 1.75rem;
  }

  .hero-sub-title {
    font-size: 1.4rem;
  }

  .hero-btn {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .hero-title {
    font-size: 1.4rem;
  }

  .hero-sub-title {
    font-size: 1.2rem;
  }

  .github-gif {
    display: none;
  }
}
