.about-me-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  .about-me-content {
    width: 80%;
  }

  .special-text {
    font-weight: 700;
    background: -webkit-linear-gradient(
      var(--light-special),
      var(--dark-special)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
