.about-skills {
  width: 100%;

  .skills-title {
    margin: 2rem 0 1.25rem 0;
    font-size: 2rem;
    font-weight: 600;
    background: -webkit-linear-gradient(
      var(--light-special),
      var(--dark-special)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;

    img {
      margin-left: 2rem;
      width: 48px;
      height: 48px;
    }

    img:first-child {
      margin: 0;
    }
  }
}
