.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .input-container {
    min-width: 300px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    label {
      font-size: 1.2rem;
    }

    input,
    textarea {
      font-size: 1rem;
      margin-top: 0.5rem;
      border: none;
      outline: none;
      padding: 0.25rem 0.5rem;
      border-radius: 5px;
      background-color: #212121;
      color: #dcdcdc;
    }

    input:focus {
      border-bottom: 1px solid var(--light-special);
      margin-bottom: -1px;
    }

    textarea:focus {
      outline: 1px solid var(--light-special);
    }

    textarea {
      min-height: 120px;
      resize: vertical;
    }
  }

  .input-container:last-child {
    margin: 0;

    .input {
      padding-bottom: 2rem;
      display: flex;
    }
  }

  .submit-btn {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    width: 20%;
    border-radius: 25px;
    background-color: #212121;
    color: #dcdcdc;
    transition: all 0.15s ease-in;
  }

  .submit-btn:hover {
    color: var(--light-special);
  }
}
