.contact-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact {
    margin-top: 5rem;
    width: 60%;
    height: 200px;
    // styles for making contact form round and with different bg color
    padding: 1rem;
    background-color: #232323;
    border-radius: 25px;

    .contact-header {
      display: flex;
      align-items: center;
      justify-content: center;

      .section-title {
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
        background: -webkit-linear-gradient(
          var(--light-special),
          var(--dark-special)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
