.footer-wrapper {
  // position: absolute;
  // bottom: 0;
  width: 100vw;
  margin-top: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;

  .footer {
    width: 80%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

    .footer-item:nth-child(1) {
      margin-right: auto;
    }

    .footer-item:nth-child(3) {
      margin-left: auto;
    }

    .footer-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.75rem;

      i {
        cursor: pointer;
        color: #fefefe;
        font-size: 1.25rem;
        transition: 0.1s ease-in;
      }

      i:last-child {
        margin-left: 1rem;
      }

      .fa-github:hover {
        color: #c9510c;
      }

      .fa-linkedin:hover {
        color: #00a0dc;
      }
    }
  }
}
