// @import url("https://fonts.googleapis.com/css2?family=Gluten:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary-dark: #101010;
  --secondary-dark: #121212;
  --light-special: #6bd0ff;
  --normal-special: #3fa0ef;
  --dark-special: #1a74e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", "Ubuntu", "Poppins", "Gluten", cursive;
}

body {
  overflow-x: hidden;
  min-height: 200vh;
  position: sticky;
  background-color: #101010;
  color: #fefefe;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background: var(--normal-special);
}
